.faqPg {
  display: block;
  text-align: left;
    padding: 20px 50px;
    margin: auto;
  }
  
  
 .question {
  background-color: #9BDCF1;
 }

 .questions {
  display: flex;
  flex-direction: column;
  gap: 12px;
 }

 .question p {
  padding: 16px;
  margin: 0px;
 }
 .answer {
  background-color: #D3F2FC;
 } 