/**
 * Author: Ahmed Al-Naamani
 */


.main-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: "Crimson Pro", sans-serif;
}

.meeting-scheduler {
    display: flex;
    height: 130px;
    justify-content: start;
    font-size: 1.4rem;
    width: auto;
    background-color: #76C7C0;
    border: 1px solid black;
}

.left-section {
    width: 80%; 
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-top: 30px;
}

.flex-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.calendar {
    margin-top: 20px;
    width: auto;
    background-color: #FFC1A1;
    font-family: inherit;
    box-shadow: 0 11px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    transition: height 0.3s ease;
}

.custom-calendar-main {
    width: 100%;
    height: 100%;
    background-color: #FFC1A1;
}

.custom-calendar-main .react-calendar__tile {
    background-color: #FFC1A1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-bottom: 5px; 
    padding: 15px; 
    font-family: inherit;
    font-size: 1.2rem; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative; 
}

.custom-calendar-main .react-calendar__tile:hover {
    background-color: #E6B08B;
    transform: scale(1.05);
    cursor: pointer;
}

.custom-calendar-main .react-calendar__tile--active {
    background-color:  #388E3C;
    color: white;
    cursor: pointer;
}

.custom-calendar-main .react-calendar__tile--now {
    background: #FFECB3; 
    color: #606C76; 
}

.custom-calendar-main .react-calendar__month-view__days__day--weekend {
    color: #606C76; 
}

.custom-calendar-main .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
    font-size: 1.4rem; 
    margin-bottom: 10px;
}

.custom-calendar-main .react-calendar__navigation__arrow {
    background-color: #76C7C0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: black;
    font-family: inherit;
    padding: 5px;
    width: 40px; 
    margin-left: 8px;
    margin-right: 8px;
    height: 40px;
    font-size: 1.4rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-calendar-main .react-calendar__navigation__arrow:hover {
    background-color: #639C9A;
    transform: scale(1.1);
}

.custom-calendar-main .react-calendar__navigation__label {
    font-family: inherit;
    background-color:  #FFC1A1;
    font-size: 1.4rem; 
    border: none;
}

.custom-calendar-main .react-calendar__month-view__weekdays__weekday {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.upcoming {
    border: 1px solid black;
    background-color: #C3D7E0;
    width: 20%;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 15px;
    height: auto;
    margin-bottom: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.upcomingMeetingsGrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; 
}

.meeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C3D7E0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; 
}

.schedule-btn, .reschedule-btn, .cancel-btn, .load-more-btn {
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Crimson Pro", sans-serif;
}

.schedule-btn {
    background-color: #388E3C;
}

.schedule-btn:hover {
    background-color: #2E7D32;
}

.reschedule-btn {
    background-color: #F57C00; 
}

.reschedule-btn:hover {
    background-color: #EF6C00; 
}

.cancel-btn {
    background-color: #D32F2F;
}

.cancel-btn:hover {
    background-color: #C62828; 
}

.load-more-btn {
    background-color: #5A6268; 
}

.load-more-btn:hover {
    background-color: #4A4F54; 
}

.prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C3D7E0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 70%; 
    overflow-y: auto;
    font-family: "Crimson Pro", sans-serif;
}

.prompt-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Crimson Pro", sans-serif;
}

.prompt-content h3 {
    margin-bottom: 10px;
}

.prompt-content select, .prompt-content input {
    margin: 10px 0;
}

.calendar-prompt {
    width: 100%;
    background-color: #FFC1A1;
}

.custom-calendar-prompt {
    width: 100%;
    background-color: #FFC1A1;
    height: 300px;
}

.custom-calendar-prompt .react-calendar__tile {
    background-color: #FFC1A1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-bottom: 5px; 
    padding: 10px; 
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative; 
}

.custom-calendar-prompt .react-calendar__tile:hover {
    background-color: #E6B08B;
    transform: scale(1.05);
    cursor: pointer;
}

.custom-calendar-prompt .react-calendar__tile--active {
    background-color: #388E3C;
    color: white;
    cursor: pointer;
}

.custom-calendar-prompt .react-calendar__tile--now {
    background: #FFECB3; 
    color: #606C76; 
}

.custom-calendar-prompt .react-calendar__month-view__days__day--weekend {
    color: #606C76; 
}

.custom-calendar-prompt .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
    font-size: 1.2rem; 
    margin-bottom: 10px;
}

.custom-calendar-prompt .react-calendar__navigation__arrow {
    background-color: #76C7C0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: black;
    font-family: inherit;
    padding: 5px;
    width: 30px; 
    margin-left: 8px;
    margin-right: 8px;
    height: 30px; 
    font-size: 1.2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-calendar-prompt .react-calendar__navigation__arrow:hover {
    background-color: #639C9A;
    transform: scale(1.1);
}

.custom-calendar-prompt .react-calendar__navigation__label {
    font-family: inherit;
    background-color: #FFC1A1;
    font-size: 1.2rem; 
    border: none;
}

.custom-calendar-prompt .react-calendar__month-view__weekdays__weekday {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.radio-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.alert {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFC1A1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: "Crimson Pro", sans-serif;
}

.alert p {
    margin: 0;
    padding: 0;
}

.alert button {
    background-color: #388E3C;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.alert button:hover {
    background-color: #2E7D32;
}

.meeting-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: "Crimson Pro", sans-serif;
}

.dot {
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.time-picker {
    width: 300px;
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Crimson Pro", sans-serif;
}

.time-picker h3 {
    margin-bottom: 10px;
}

.react-time-picker {
    background-color:  #FFC1A1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
}

.react-time-picker__wrapper {
    background-color:  #FFC1A1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.react-time-picker__inputGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-time-picker__inputGroup__input {
    background-color:  #FFC1A1;
    border: none;
    font-size: 1.2rem;
    text-align: center; 
    box-sizing: border-box;
    font-family: "Crimson Pro", sans-serif;
}

.react-time-picker__inputGroup__hour,
.react-time-picker__inputGroup__minute {
    width: 3em !important; 
    height: 3em !important; 
    font-size: 1.2rem !important;
    padding: 5px !important; 
    text-align: center !important; 
    background-color:  #FFC1A1 !important; 
    border: 1px solid rgba(0, 0, 0, 0.1) !important; 
}

.react-time-picker__inputGroup__divider {
    color: black;
    padding: 0 5px !important; 
    font-size: 1.2rem !important; 
}

.react-time-picker__clock-button {
    display: none;
}

.react-time-picker__inputGroup__hour:focus,
.react-time-picker__inputGroup__minute:focus {
    outline: none;
    border: 1px solid #388E3C !important; 
}

/* Styles for the leading zero */
.react-time-picker__inputGroup__leadingZero {
    font-size: 1.2rem !important;
    background-color: #FFC1A1 !important; 
    padding: 5px !important; 
}
@media screen and (max-width: 1024px) {
    .main-cont {
        flex-direction: column;
    }
    
    .left-section, .upcoming {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .meeting-scheduler {
        justify-content: center;
        height: auto;
    }
    
    .calendar {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .calendar {
        font-size: 1rem;
    }
    
    .custom-calendar-main .react-calendar__tile {
        font-size: 1rem;
        padding: 10px;
    }
    
    .custom-calendar-main .react-calendar__navigation {
        font-size: 1.2rem;
    }
    
    .schedule-btn, .reschedule-btn, .cancel-btn, .load-more-btn {
        padding: 8px 16px;
        font-size: 1rem;
    }
    
    .time-picker {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .prompt {
        width: 95%;
        padding: 15px;
    }
    
    .schedule-btn, .reschedule-btn, .cancel-btn, .load-more-btn {
        padding: 6px 12px;
        font-size: 0.9rem;
    }
    
    .custom-calendar-main .react-calendar__tile {
        font-size: 0.9rem;
    }
    
    .custom-calendar-main .react-calendar__navigation {
        font-size: 1rem;
    }
    
    .time-picker {
        width: 100%;
    }
    
    .alert button {
        padding: 8px 16px;
        font-size: 1rem;
    }
}