.footer {
    background-color: #DFF0EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 18px;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
}

.footer p {
    margin: 0px;
    
}

.active-link {
    color: #007BFF; /* Active link color */
    border-bottom: 2px solid #007BFF; /* Underline active link */
  }

  